<%= bootstrap_form_with model: @config_form, data: { turbo: false }, url: config_path, method: :patch do |f| %>
  <div data-controller="config">
    <div class="mb-4">
      <%= f.radio_button :mode, :sender, label: "Sender", data: { action: "config#setSender" } %>
      <%= f.radio_button :mode, :receiver, label: "Receiver", data: { action: "config#setReceiver" } %>
    </div>

    <%= content_tag :div, id: "sender-fields", class: @config_form.mode != "sender" ? "d-none" : "", style: "max-width: 500px", data: { 'config-target': 'sender' } do %>
      <%= f.text_field :sender_payload_path, label: "Payload Path", placeholder: "/mnt/coming-from-receiver/payload.synchronist", autocomplete: :off %>
      <%= f.text_field :sender_source_folder, label: "Source Folder", placeholder: "/data/downloads", autocomplete: :off %>
      <%= f.text_field :sender_send_folder, label: "Send Folder", placeholder: "/mnt/share/send", autocomplete: :off %>
      <%= f.submit "Save" %>
    <% end %>

    <%= content_tag :div, id: "receiver-fields", class: @config_form.mode != "receiver" ? "d-none" : "", style: "max-width: 500px", data: { 'config-target': 'receiver' } do %>
      <%= f.text_field :receiver_send_payload_cron, label: "Synchronization cron", help: 'How often should the receiver send a payload to the sender. <br/ >See <a href="https://crontab.guru" target="_blank">crontab guru</a> for reference'.html_safe, autocomplete: :off  %>
      <%= f.text_field :receiver_payload_path, label: "Payload Path", placeholder: "/mnt/outgoing-to-sender/payload.synchronist", autocomplete: :off  %>
      <%= f.text_field :receiver_storage_folder, label: "Storage Folder", placeholder: "/data/storage", autocomplete: :off  %>
      <%= f.text_field :receiver_receive_folder, label: "Receive Folder", placeholder: "/mnt/share/receive", autocomplete: :off %>
      <%= f.submit "Save" %>
    <% end %>
  </div>
<% end %>
