<li class="list-group-item p-3 d-flex align-items-center">
  <span class="filename" title="<%= received_file.path %>">
    <%= received_file.path %>
  </span>
  <div class="ms-auto text-nowrap">
    <b class="mr-2">
      <%= number_to_human_size(received_file.size) %>
    </b>
    <%= time_tag received_file.created_at, title: received_file.created_at do %>
      Received <%= time_ago_in_words received_file.created_at %> ago
    <% end %>
  </div>
</li>
