<%= turbo_stream_from "list_progress_#{sync.id}" unless sync.finished? %>
<%= turbo_stream_from "list_files_and_bytes_#{sync.id}" unless sync.finished? %>

<li class="list-group-item p-3 d-flex align-items-center" id="<%= dom_id(sync) %>">
  <%= render 'syncs/list_progress', sync: sync %>
  <h4 class="m-0 ml-3">
    <%= link_to sync do %>
    #<%= sync.id %>
    <% end %>
  </h4>
  <%= render 'syncs/list_files_and_bytes', sync: sync %>
  <span class="ms-auto">
    <% if sync.finished? && !sync.errored? %>
      Took <%= distance_of_time_in_words sync.started_at, sync.finished_at, include_seconds: true %>
    <% else %>
      <%= time_tag sync.created_at, title: sync.created_at do %>
        Started <%= time_ago_in_words sync.created_at %> ago
      <% end %>
    <% end %>
  </span>
</li>
