<li class="list-group-item p-3 d-flex align-items-center">
  <h4 class="m-0" style="width: 180px">
    <%= payload.id %>
  </h4>
  <span class="ml-4">
    <b>
      <%= number_to_human_size(payload.file.byte_size) if payload.file.attached? %>
    </b>
  </span>

  <span class="ml-4">
    <%= link_to "Download", rails_blob_path(payload.file) if payload.file.attached? %>
  </span>

  <span class="ms-auto">
    <%= time_tag payload.received_at, title: payload.received_at do %>
      Received <%= time_ago_in_words payload.received_at %> ago
    <% end %>
  </span>
</li>
