<!DOCTYPE html>
<html>
  <head>
    <title>Synchronist - <%= yield :title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <%= link_to Config.configured? ? root_path : "#", class: "sidebar-brand d-flex align-items-center justify-content-center" do %>
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="bi bi-arrow-repeat"></i>
          </div>
          <div class="sidebar-brand-text mx-2">Synchronist</div>
        <% end %>

        <% if Config.configured? %>
          <!-- Divider -->
          <hr class="sidebar-divider my-0">

          <!-- Nav Item - Dashboard -->

          <%= nav_link root_path do %>
            <i class="bi bi-card-heading"></i>
            <span>Dashboard</span>
          <% end %>

          <!-- Divider -->
          <hr class="sidebar-divider">

          <!-- Heading -->
          <div class="sidebar-heading">
            Synchronization
          </div>

          <% if Config.sender? %>
            <%= nav_link syncs_path do %>
              <i class="bi bi-list"></i>
              <span>Synchronizations</span>
            <% end %>
          <% end %>

          <%= nav_link Config.receiver? ? receiver_payloads_path : sender_payloads_path do %>
            <i class="bi bi-<%= Config.receiver? ? "send" : "inbox" %>"></i>
            <span>Payloads</span>
          <% end %>

          <%= nav_link edit_config_path do %>
            <i class="bi bi-wrench"></i>
            <span>Configuration</span>
          <% end %>

          <!-- Divider -->
          <hr class="sidebar-divider">

          <!-- Heading -->
          <div class="sidebar-heading">
            Debug
          </div>

          <%= nav_link sidekiq_path do %>
            <i class="bi bi-speedometer"></i>
            <span>Sidekiq</span>
          <% end %>
        <% end %>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                     aria-labelledby="searchDropdown">
                  <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                      <input type="text" class="form-control bg-light border-0 small"
                             placeholder="Search for..." aria-label="Search"
                             aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                          <i class="fas fa-search fa-sm"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>


              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                John Doe
              </li>

            </ul>

          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">

            <% if flash.key?(:alert) %>
              <div class="alert alert-warning" role="alert">
                <%= flash[:alert] %>
              </div>
            <% end %>
            <% if flash.key?(:notice) %>
              <div class="alert alert-info" role="alert">
                <%= flash[:notice] %>
              </div>
            <% end %>

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">
                <%= yield :title %>
              </h1>
            </div>

            <%= yield %>

          </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>MIT license; Created by <a href="https://siegrist.io">siegy22</a></span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
  </body>
</html>
